
body{
	background-size: 100%;
	font-family: Calibri;
	color: beige;
	background-size: 100%;
}
.alteration{
	font-size: 12pt;
	text-align: center;

}
img{
	border-radius: 50%;
	border: 2px solid black;
}
td,th {
	border: 1px solid black;
	width: 100px;
	height: 100px;
	text-align: center;
}
table{
	margin:auto;
}
a {
	color: beige;

}
